@font-face {
    font-family: "Iosevka Etoile";
    font-weight: 100 900;
    src: local("Iosevka Etoile")
         , url("iosevka/iosevka-etoile-regular.woff2") format("woff2")
         , url("iosevka/iosevka-etoile-italic.woff2") format("woff2");
}

@font-face {
    font-family: "Iosevka Aile";
    font-weight: 100 900;
    src: local("Iosevka Aile")
         , url("iosevka/iosevka-aile-regular.woff2") format("woff2")
         , url("iosevka/iosevka-aile-italic.woff2") format("woff2");
}

@font-face {
    font-family: "Iosevka Curly";
    font-weight: 100 900;
    src: local("Iosevka Curly")
         , url("iosevka/iosevka-curly-regular.woff2") format("woff2");
}

html {
    font-size: 18px;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 0;
    /* font-family: "Iosevka Aile", Menlo, monospace; */
    font-family: Menlo, monospace;
    font-weight: 500;
    word-wrap: break-word;
}

.logo {
    background-color: #fffdd0;
    -webkit-mask: url("/img/sigma.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask: url("/img/sigma.svg");
    mask-repeat: no-repeat;
    mask-size: 100%;
    height: 90px;
    width: 40px;
    float: left;
    display: inline;
    margin: -0.1em 0.5em 0.25em 0.25em;
}

@media (prefers-color-scheme: dark) {
    .logo {
        background-color: #fffdd0;
    }
}

@media (prefers-color-scheme: light) {
    .logo {
        background-color: #ac7373;
    }
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

img.picture {
    max-height: 36rem;
}

pre {
  line-height: 1.125rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .dark pre, pre { */
/*     padding-left: 1em; */
/*     padding-right: 1em; */
/* } */

figcaption {
    background-color: #282828;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

@media (prefers-color-scheme: light) {
    figcaption {
        background-color: #865d8e;
    }
}

article h1 {
    font-weight: 900;
}

article small {
    font-weight: 600;
}

pre {
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: auto;
}

code[class*="language-"],
pre[class*="language-"],
pre code {
    font-weight: 100;
    text-shadow: none;
    margin: 1.75rem 0;
    font-size: 1.5rem;
    font-family: Menlo, monospace;
    /* font-family: "Iosevka Curly", Menlo, monospace; */
}

code {
    font-family: Menlo, monospace;
    /* font-family: "Iosevka Curly", Menlo, monospace; */
}

iframe {
    max-width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid;
}

.grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.grid.\-top {
  -ms-flex-align: start;
  align-items: flex-start;
}

.grid.\-middle {
  -ms-flex-align: center;
  align-items: center;
}

.grid.\-bottom {
  -ms-flex-align: end;
  align-items: flex-end;
}

.grid.\-stretch {
  -ms-flex-align: stretch;
  align-items: stretch;
}

.grid.\-baseline {
  -ms-flex-align: baseline;
  align-items: baseline;
}

.grid.\-left {
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.grid.\-center {
  -ms-flex-pack: center;
  justify-content: center;
}

.grid.\-right {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.grid.\-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.grid.\-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.cell {
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .cell.\-1of12 {
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    }
    .cell.\-2of12 {
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    }
    .cell.\-3of12 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    }
    .cell.\-4of12 {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    }
    .cell.\-5of12 {
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    }
    .cell.\-6of12 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
    .cell.\-7of12 {
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    }
    .cell.\-8of12 {
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    }
    .cell.\-9of12 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    }
    .cell.\-10of12 {
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    }
    .cell.\-11of12 {
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .cell {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
}

/* old starts here */

/* .link { */
/*     @apply underline decoration-1 decoration-sky-600 hover:decoration-sky-400; */
/* } */

/* .navigate-btn { */
/*     @apply hover:bg-[#db55db] hover:text-[#fffdd0] hover:rounded-sm hover:border-8; */
/* } */

/* a.linked-header { */
/*     @apply shadow-none fill-sky-100; */
/* } */
/* old ends here */

p,
.conversation-chat,
blockquote,
strong {
    font-size: 1.2rem;
    font-style: normal;
    font-family: Menlo, monospace;
    /* font-family: "Iosevka Aile", Menlo, monospace; */
}

blockquote,
code,
em,
strong {
    font-size: 1.2rem;
    line-height: 20px;
}

blockquote,
code,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
li,
ol,
p,
section,
ul {
    float: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Menlo, monospace;
    /* font-family: "Iosevka Etoile", Menlo, monospace; */
}

blockquote,
ol,
p,
ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-bottom: 1.75rem;
}

h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
    display: inline;
}

li {
    position: relative;
    display: block;
    padding-left: 20px;
}

li:after {
    position: absolute;
    top: 0;
    left: 0;
}

ul > li:after {
    content: "-";
}

ol {
    counter-reset: a;
}
ol > li:after {
    content: counter(a) ".";
    counter-increment: a;
}

blockquote {
    position: relative;
    padding-left: 17px;
    padding-left: 2ch;
    overflow: hidden;
}

blockquote:after {
    content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
    white-space: pre;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
}

hr {
    position: relative;
    height: 20px;
    overflow: hidden;
    border: 0;
    margin: 20px 0;
}

hr:after {
    content: "---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
    width: 100%;
    word-wrap: break-word;
}

p {
  margin: 0 0 1.75rem;
}

.container {
  max-width: 60rem;
}

.container,
.container-fluid {
  margin: 1em auto;
  padding: 0 1rem;
}

.tweet {
    background-color: #ebdbb2;
}
