html {
    background: #181818;
    color: #fffdd0;
    line-height: 20px;
    font-size: 18px;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    margin: 1em auto;
    padding: 0 0.55em;
    max-width: 750px;
}

body {
    font-size: 1rem;
    line-height: 1.75rem;
    margin: 0;
    font-family: Iosevka, Menlo, monospace;
    /* font-family: "Iosevka Aile Iaso", Menlo, monospace; */
    font-weight: 500;
    word-wrap: break-word;    
}

::-moz-selection { /* Code for Firefox */
    background: #fbbf24;
}

::selection {
    background: #fbbf24;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

pre {
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: auto;
}

code[class*="language-"],

pre[class*="language-"],

pre code {
    font-weight: 100;
    text-shadow: none;
    margin: 1.75rem 0;
    font-size: 1.5rem;
    font-family: Iosevka, Menlo, monospace;
    /* font-family: "Iosevka Curly Iaso", Menlo, monospace; */
}

code {
    font-family: Iosevka, Menlo, monospace;
    /* font-family: "Iosevka Curly Iaso", Menlo, monospace; */
}

iframe {
    max-width: 100%;
}

a {
    cursor: pointer;
    color: #fb923c;
    text-decoration: none;
    border-bottom: 1px solid;
    border-color: #fb923c;
}

a:hover {
    background-color: #ea580c;
    color: #fff;
}

a:visited { 
	color: #C1B7A9;
	border-color: #a89984;   
}

a:visited:hover {
    color: #fdf4c1;
	background-color: #282828;
}

.grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.cell {
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .cell.\-1of12 {
        -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    }
    .cell.\-2of12 {
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    }
    .cell.\-3of12 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    }
    .cell.\-4of12 {
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    }
    .cell.\-5of12 {
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    }
    .cell.\-6of12 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
    .cell.\-7of12 {
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    }
    .cell.\-8of12 {
        -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    }
    .cell.\-9of12 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    }
    .cell.\-10of12 {
        -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    }
    .cell.\-11of12 {
        -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    }    
}

@media screen and (max-width: 768px) {
    .grid {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .cell {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
}

/* old starts here */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fb923c;
}

/* .link { */
/*     @apply underline decoration-1 decoration-sky-600 hover:decoration-sky-400; */
/* } */

/* .navigate-btn { */
/*     @apply hover:bg-[#db55db] hover:text-[#fffdd0] hover:rounded-sm hover:border-8; */
/* } */

/* a.linked-header { */
/*     @apply shadow-none fill-sky-100; */
/* } */
/* old ends here */

p,
.conversation-chat,
blockquote,
strong {
    font-size: 1rem;
    font-style: normal;
    font-family: Iosevka, Menlo, monospace;
    /* font-family: "Iosevka Aile Iaso", Menlo, monospace; */
}

blockquote,
code,
em,
strong {
    font-size: 0.8rem;
    line-height: 20px;
}

blockquote,
code,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
li,
ol,
p,
section,
ul {
    float: none;
    margin: 0;
    padding: 0;
}

blockquote,
ol,
p,
ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-bottom: 1.75rem;
}

h2:before,
h3:before,
h4:before,
h5:before,
h6:before {
    display: inline;
}

li {
    position: relative;
    display: block;
    padding-left: 20px;
}

li:after {
    position: absolute;
    top: 0;
    left: 0;
}

ul > li:after {
    content: "-";
}

ol {
    counter-reset: a;
}
ol > li:after {
    content: counter(a) ".";
    counter-increment: a;
}

blockquote {
    position: relative;
    padding-left: 17px;
    padding-left: 2ch;
    overflow: hidden;
}

blockquote:after {
    content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
    white-space: pre;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
}

hr {
    position: relative;
    height: 20px;
    overflow: hidden;
    border: 0;
    margin: 20px 0;
}

hr:after {
    content: "---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------";
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
    width: 100%;
    word-wrap: break-word;
}
