doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/index.css')
  body(class='')
    article
      div(class='')
        h1(class='')= title
        p(class='')= description
        small(class='')= read_time_estimate_minutes
      main(class='') !{content}
  hr
  block footer
    div(class='')
      = "Written by salaadas"
