//- deps: {title = 'Contact Information'}

extends base.pug

block content
  h1= title
  .grid
    div(class='cell -6of12')
      h3 Email
      p thuctd.tran@gmail.com

      h3 Social media
      ul
        li
          a(href='https://github.com/salaadas/') GitHub
        li 
          a(href='https://facebook.com/thuctd.tran/') Facebook
        li
          a(href='https://youtube.com/@salaadas') Youtube

    div(class='cell -6of12')
      h3 Other Information
      h4 Discord
      p
        code 
          i Salaadas#6327
        | #{` Please note that I seldom go online on discord.`}
