//- deps: {title = 'Frequently Asked Questions'}

extends base.pug
block content
  h1= title
  h3 Personal info:
  p
    u birthday?
    br
    | > 2005/03/30
    br
    u nationality?
    br
    | > vietnamese, 100%
    br
    u which part of vietnam?
    br
    | > ho chi minh
    br
    u your height?
    br
    | > 180cm
    br
    u brother(s), sister(s) if any?
    br
    | > one of each; both are younger than me
    br
    u intended major?
    br
    | > computer science
    br
    u sleep schedule?
    br
    | > down 10:00pm and up at 5:00am
    br
    u why so early?
    br
    | > because I go to school by bus as my school is far away from home
    br
    u what about summer, do you still wake up that early?
    br
    | > yes! in the summer, I in fact get up even earlier for morning marathon!
    br
    u interesting, what are your hobbies?
    br
    | > marathon, swimming, recreational programming, reading and studying
    br
    u what!?! studying??
    br
    | > right! I study when things get boring
    br
    u seems like you are not so sociable, aren't you?
    br
    | > how could you know? that's right and I'm trying to get over it
    br
    u one more thing, why this blog? you did make another one if my memory serves me right?
    br
    | > I did, but there are some itching points about the last one that I thought it needed a whole makeover
    br
    u alright, thank you for the comprehensive explanations. do you music?
    br
    | > yes, like any other person. what kind I listen to may not be the same, however. I like aphex twins, sonic youth, joy division, modern talking and nujabes. seems like a decent mixture of both the western and eastern world.
    br
    u 
      | I saw your
      | #{" "}
      a(href='https://youtube.com/playlist?list=PLTEvdy7cOEn4FDXp4WGyb8aRI5w7VRQW9') on-loop playlist
      | , is it a troll?
    br
    | > ahh haha, I used to only listen to those 2 songs; now my playlist is more jam packed
    br
    u do you have a spot for languages?
    br
    | > on one hand, I'm a developer, so yes, technically, to the notion of languages. I interact with computers through languages, albeit they are ever so slightly different from the human ones. For the major audience, though, I could speak and write in vietnamese, english (still learning french)
    br
    u is there anything else you wanted everyone to know?
    br
    | > oh, if you have time, there is a
    | #{" "}
    a(href='/blogs') blogs
    | #{" "}
    | section where I seldom post about random stuff. you may want to check it out to see if anything piques your intersests
    br
