extends base.pug

block content
  article
    h1= 'What are you thinking, master?'
    p
      | Accepting HTML/Markdown formatted input, please tweet:
  textarea(name='input', form='tweet', rows='5', cols='100', autofocus='true')
  form(id='tweet', action='admin', method='POST')
    input(type='submit', value='submit')
