//- deps: {tweets: html[{date, content}], title: string}

extends base.pug

block content 
  h1= title
  p Where you can see my pure thoughts in chronological order
  ul
    each t, index in tweets
      if index !== 0
        hr
      li(class='tweet')
        p= t.date + ' ::'
        | !{t.content}
